{% extends 'partials/base.html' %}
{% load static %}

{% block title %}
- Empresa: {{ company.name }}
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="bg-light rounded-3 shadow-sm p-4">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h4 class="mb-1">{{ company.name }}</h4>
                                <p class="text-muted mb-0">Bienvenido a la empresa</p>
                            </div>

                        </div>
                        <div class="row">
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
